<!--<p>quote works!</p>-->
<div class="container">
  <hr>
  <h2>Some of my favorite quotes</h2>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card-body">
        <div *ngFor="let myQuote of sortQuotes; let i = index">
        
          <h5 class="card-title"> {{ myQuote.name }} </h5>
          
          
          <div class="card-text">
            <button (click)="toggleDetails(i)">Toggle Details</button>
            <app-quote-detail *ngIf="myQuote.showQuote" [quote]="myQuote" (isComplete)="deleteQuote($event, i)"></app-quote-detail>
            <!--    <app-quote-detail [quote]="myQuote"></app-quote-detail>-->
            
            <app-voting [quote]="myQuote" *ngIf="myQuote.showQuote" (isUpVoted)="upvoteQuote($event, i)" (isDownVoted)="downvoteQuote($event, i)"></app-voting>
            
          </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-6">
      
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  
      <div class="jumbotron">
        <div class="card-title">
      
          <p>The quote with the most votes is: {{quotes[0].name}}</p>
          <p> {{quotes[0].quoteText}}</p>
        </div>
        
    </div>
  
    
  </div>
</div>

