<!--<p>quote works!</p>-->
<h1>Some of my favorite quotes</h1>

<hr>

<ul>

  <div *ngFor="let myQuote of quotes; let i = index">
  
    <li> {{ myQuote.name }} </li>
    
    <button (click)="toggleDetails(i)">Toggle Details</button>

    <app-quote-detail *ngIf="myQuote.showQuote" [quote]="myQuote" (isComplete)="deleteQuote($event, i)"></app-quote-detail>
    <!--    <app-quote-detail [quote]="myQuote"></app-quote-detail>-->
    
    <app-voting [quote]="myQuote" *ngIf="myQuote.showQuote" (isUpVoted)="upvoteQuote($event, i)" (isDownVoted)="downvoteQuote($event, i)"></app-voting>
  
  </div>
  
  <button appBestquote>What is the best quote?!</button>
  
</ul>

